@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", serif; */
/* font-family: "Inter", serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* shared style section start here */


.display-flex{
    display: flex;
}

.secondary-color{
    color:rgba(58, 58, 58, 1) ;
}
.primary-btn{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px  24px;
    border: none;


}


/* shared style section end here */


/* header section style start here */



/* navbar section start here */

.header-container{
    max-width: 1440px;
    margin: 0 auto;
    /* margin-top: 80px ; */
    /* background-color: #E02C6D; */
}


.header{
    justify-content: space-between;
   
   
    
}

.navbar li{
    list-style: none;
   
   
   
}
ul{
    margin-right: 120px;
    margin-top:90px ;
}
ul li a{
    text-decoration: none;
    padding: 34px;
    

}
.header-title{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins", serif;
    margin-top: 80px;
    margin-left: 120px;
   
}

/* navbar section style end here */


/* banner section style start here */
  .banner{
    justify-content: space-between;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat; 
    background-position: right top;
    background-size: calc(100% - 800px);
    background-size: 500px;
    margin-top: 40px;
   
    
  }
.banner-content{
    max-width: 582px;
    margin-top: 147px;
    margin-left: 120px;
}
.banner-title{
    font-size: 3.50rem;
    font-weight: bold;
    font-family: "Poppins", serif;
    margin-bottom: 16px;
}
.banner-description{
    font-weight: 600;
    font-size: 1rem;
    font-family: "Poppins", serif;
    margin-bottom: 16px;


    
}
.banner-img{
    max-width: 440px;
    margin: 70px 55px 100px 133px ;

}


/* banner section style end here */


/* haeder section style end here */


/* main section start here */

/* company section style start here */

.conpanies{
    max-width: 1110px;
    margin: 0 auto;
    justify-content: space-evenly;
    border: 1px solid rgba(128, 128, 128, 0.192);
    padding: 20px;
    
}

/* Company section style end here */


/* popular collection  start here */

.popular{
    max-width: 1147px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: "Poppins", serif;
    font-weight: 600;
    color: #3A3A3A;
}
.section-title{
    text-align: center;
    font-size: 1.8rem;


}

.popular-img-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
   margin-top: 30px;
}

.card{
    max-width: 329px;
    /* height: 476px; */
    background-color: rgb(247, 243, 243);
    box-shadow: 4px 6px 7px rgba(255, 255, 255, 1) ;
    border-radius: 8px;
    padding: 20px;
}
/* .card-img{
    width: 300px;
} */
.card-title{
    font-size: 1.8rem;
    color: rgba(24, 25, 31, 1);
    font-weight: 600;
    font-family: "Poppins", serif;
    margin-top: 16px;
    margin-bottom: 6px;



}
.price{
    font-size: 2rem;
    color:rgba(0, 0, 0, 0.719) ;

}

.star{
  color: orange;
  margin-right: 10px;
 
    
}
.card-description{
    font-size: 1rem;
    font-weight: bold;
    color: #787885;
    font-family: "Inter", serif;
    margin: 20px 0;
    line-height: 143% ;
    letter-spacing: 1.8%;

}





/* popular collection end here  */


/* feature section start here */


.feature{
    max-width: 1110px;
    margin: 0 auto;
    gap: 96px ;
    align-items: center;
    margin-top: 100px;
}
.feature-title{
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Poppins", serif;
    color:#0A0826 ;
    margin-bottom: 16px;

}
.feature-description{
     font-size: 1rem;
     font-weight: bold;
     color:#6C6C6C 
     ;
     font-family: "Poppins", serif;
     margin-bottom: 16px;
}
/* feature section end here */


/* footer section style start here */

.footer{
    background-color: black;
    text-align: center;
    margin-top: 50px;

}

.footer-container{
    color: white;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-description{
    margin: 10px 0;
}
.icon i{
    padding: 4px;
}




/* footer section style end here */



/* main section end here */




/* start for small device reponsive */


/* for headeer section  */

  @media screen and (max-width:576px) {
    .header   {
        flex-direction: column;
       }
       .banner{
        flex-direction: column-reverse;
            background-size: 350px;
          
       }
       .banner-content{
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        
       
    }
    
    
    
     .banner-content{
         padding: 0 20px; 
        
    } 
    .banner-img img{
        width: 290px;
        margin-top: 20px;
        
    
    }
    .header-title{
        
       
        margin: 40px auto;
       
    }
    .navbar, ul{
        margin: 30px auto;
    }
    ul li a{
       
        padding: 20px;
        font-size: 1rem;
        font-weight: 800;
        
    }

    /* headere section end */


    /* company section */

    .conpanies{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin-top: 40px;
    }


    /* company section  end */


    /* popular section responsive start here */

    .popular-img-container{
        grid-template-columns: repeat(1,1fr);
        gap: 20px 0;
        justify-self: center;
    }
    


    /* popular section responsive end here */


    /* feature section responsiv start here */


    .feature{
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }


    /* feature section responsive end here */
   
  

/* end for small device reponsive */




/* for medium device start here */
  }

@media screen and (min-width:576px) and (max-width:992px){


    /* header section responsive start */


    /* header section  */

       .banner{
        flex-direction: column;
       }
       .banner{
        background-image: none;
         
    }
    .header-title{
        
       
        margin-top: 80px ;
       
    }
    
    ul li a{
       
        padding: 20px;
        font-size: 1rem;
        font-weight: 800;
        
    } 
    
    .navbar, ul{
        margin-right: 30px ;
    } 


    /* header section end */


    /* company section */

    .conpanies{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px 30px;
        margin-top: 40px;
    }
     
    /* popular section responsive start here */


    .popular-img-container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px 10px;
        justify-self: center;
    }






    /* popular section responsive end here */


    /* company section end */


    /* feature section style start here */
    
     .feature-content{
        height: 224px;
       
     }
    
.feature{
    width: 97%;
    margin: 0 auto;
    gap: 36px ;
    /* margin-top: 100px; */
}
.feature-title{
    font-size: 1.5rem;
    

}


    /* feature section style end here */



    
}




/* for medium device end here */